form{

    margin-top:20px;
    height:600px;
    width:550px;
    padding:20px;
    margin:70px 0px 0px 500px;
    background-color:  orange;
   box-shadow:inset -5px -5px rgba(0, 0, 0, 0.6);
   border-radius:25px;   
}
.form{
    margin-left:50px;
}

label{
    display:block;
    margin-left:30px;
}
h1{

    margin:0px 0px 0px 200px;
}
input{
    margin:20px;
    border:2px solid black;
    height:30px;
    width:350px;
}
.pass input{
    margin-right: 20px;
}
.button{
    margin:50px;
}
.city input{
    margin-left:20px;
}
textarea{
    height:50px;
    width:350px;
    margin:30px;
    border:2px solid black;
}

 /* .addr .message{
    margin-left:30px;
 
} */
button{
    margin:0px;
    margin-left:150px;
    background-color: darkgreen;
    border-radius: 10px;
    border:2px solid black;
    height:30px;
    width:80px;
}